<!-- home.html -->
<ion-header>
  <ion-navbar color="primary">
    <ion-title >
     
      {{weatherApp}} 
      <!-- toggle button to activate items reorder -->
       <ion-icon name="flash"  large color="secondary" (click)="toggle()" *ngIf="reorderT" > </ion-icon>
    <ion-icon name="flash" large color="danger" (click)="toggle()" *ngIf="!reorderT" > </ion-icon>
    </ion-title>
    <ion-buttons end  >
      <button  ion-button (click)=addLocation()>
        <ion-icon  name="add" >
            <ion-badge color ="danger"> {{countRec}}</ion-badge>
        </ion-icon>

      </button> 
    
    </ion-buttons>
    
    <img [src]="contactsImg" alt="my ContactImg"   (click)="aboutLocation()">
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!--  Reorder function activated -->
<ion-list [reorder]="reorderT"  (ionItemReorder)="Reorder($event)">
<!-- looping through contactsArray item  -->
  <ion-item-sliding *ngFor="let item of countries  ; let i=index" (click)="detailLocation(item, i)"  > 
    <!-- display  Contact Name -->
        <ion-item>{{item.country}}- {{item.city}}</ion-item>
        <ion-item-options side="right">
          <ion-icon name="trash" color="danger" (click)="deleteLocation(item, i )"></ion-icon>
        </ion-item-options>
      </ion-item-sliding>
</ion-list>
</ion-content>
