page-details {


    .home {
        background: color($colors,primary);
        color:color($colors, light);
        margin-top: 30px;   
    }
    
    .toolbar-title{
    text-align: left ;
    }
    
    // .tabs-md  .tab-button-icon{
    
    // color:#ccc;
    // }
    h3{
        font-style: italic;
    }
    .temp{
        font-size: 90px;
        text-align: center;
        font-weight: normal;
    }
    .location   , .icon{
        text-align: center;
    
    }
    .icon img{
        width: 100px;
    }
    .location{
        font-size: 40px;
    }
 




}